@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h2>Control de vacunación infantil</h2>
</div>
<div class="ImagenHome" align="center">
    <img src="~/Img/vacunas-home.jpg"  height="650" width="900" >
</div>
